
@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.btn {
    cursor: pointer;

    border-radius: 50%;
    background-color: f.getColor('bg-card');
    transition: background-color .3s;
}

.btn-header {
    color: f.getColor('text-color-contrast');

    font-size: 1rem;
    font-weight: 700;
    display: grid;
    place-items: center;

    &--small {
        width: 46px;
        height: 100%;
        background-color: f.getColor('bg-card');
        color: f.getColor('text-color');
        font-family: f.getFont('titles-font');
        
        transition: background .3s;
        will-change: background;

        &:hover {
            background: #ececec;
        }
    }

    &--large {
        width: 205px;
        color: f.getColor('text-color');
        background-color: f.getColor('violet-contrast');
        border-radius: 50px;
        display: flex;
        justify-content: center;
        gap: 8px;

        transition: background .3s;
        will-change: background;

        &:hover {
            background-color: lighten(#b5a2e4,5%);
        }
    }
}