
@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.icon {
    width: 20px;
    height: 20px;
    
    -webkit-user-drag: none;
    cursor: pointer;
}

.btn {
    cursor: pointer;
    width: 41px;
    height: 100%;
    border-radius: 50%;
    background-color: f.getColor('bg-card');

    &--header {
        font-size: 1.1rem;
        font-weight: 700;
    }
}