@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;
@use "../utils/extends" as *;

.card-flex {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    &--small {
        gap: 2px;
    }
}

.card {
    &-title {
        margin-bottom: 12px;
        color: f.getColor('text-color');
        
        font: {
            family: f.getFont('main-font');
            weight: 400;
            size: .85rem;
        }
        
        filter: f.getProperty('opacity');
    }

    &-text {
        position: relative;
        font-size: 3rem;
        color: f.getColor('text-color');

        &--large{
            font-size: 2.5rem;

            @media (min-width: 1071px) and (max-width:1180px) {
                font-size: 2rem;
            }
        }

        &--secondary {
            font-size: 2.2rem;
            font-weight: 300;
            color: f.getColor('gray');

            @media (min-width: 1071px) and (max-width:1180px) {
                font-size: 1.9rem;
            }
        }
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;

    &--th { // Today's Highlights
        column-gap: 5px;
        row-gap: 15px;
    }

    &--tf { // Today's Forecast
        gap: 8px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        @media (min-width: 1071px) and (max-width: 1180px) {
            width: 130%;
        }

        
        @media (max-width: 650px) {
            // flex-direction: column;
            flex-wrap: wrap;
            gap: 12px;
        }
    }

    &--others { // Extra Cards
        height: inherit;
        gap: 14px;

        @media (min-width: 1071px) and (max-width: 1180px) {
            gap: 8px
        }
        @media (max-width: 550px) {
            flex-direction: column;
        }
    }
}



.th-card { // Today's Highlight card
    @extend %card;

    height: 130px;
    padding-left: 15px;

    flex-grow: 1;
    flex-basis: 49.1%;
    
    @media (min-width: 940px) and (max-width: 1070px) {
        flex-basis: 24.5%;
        flex-grow: 1;
    }

    @media (max-width: 536px) {
        flex-basis: 100%;
        flex-grow: 1;
        align-self: center;
    }
}


.fc-card { // Today's Forecast
    @extend %card;

    width: 100%;
    height: 130px;
    padding: 8px 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1071px) and (max-width: 1180px) {
        width: 100px;
    }

    @media (max-width: 650px) {
        // justify-content: center;
        // align-items: flex-start;
        // flex-direction: column;
        // gap: 8px;

        position: relative;
        width: 100%;
        height: 125px;
        
        padding: 12px 45px;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 1fr 110px;
        align-content: center;
    }

    @media (min-width: 620px) and (max-width: 650px) {
        flex-basis: 48%;
    }
    
    @media (max-width: 619px) {
        flex-basis: 100%;
    }

    &__title {
        font-family: f.getProperty('titles-font');
        font-size: .8rem;
        filter: opacity(75%);


        @media (max-width: 650px) {
            font-size: 1.8rem;
            height: max-content;
            grid-column: 1/2;
            grid-row: 1 / 2;
            padding-bottom: 20px;
        }
    }

    &__temperature {
        display: flex;
        gap: 5px;
        font-size: .9rem;

        @media (max-width: 650px) {
            font-size: 1.2rem;
            grid-column: 1/2;
            grid-row: 1 / 2;
            padding-top: 50px;
        }
    }
    
    &-max-temp {
        font-weight: 700;
    }

    &-min-temp {
        color: f.getColor('gray')
    }

    &__img {
        width: 55px;

        @media (max-width: 650px) {
            // position: absolute;
            // top: 0;
            // right: 25px;
            // transform: translateY(5%);
            width: 110px;
            align-self: center;
        }
    }
}




/* other cards section*/

.other-card {
    @extend %card;

    width: 100%;
    max-width: 33.3%;
    height: 100%;

    flex-grow: 1;
    flex-basis: 29%;
    display: grid;
    grid-template-rows: auto 1fr;


    @media (max-width: 620px) {
        height: 165px;
        flex-basis: 100%;
        max-width: none;
        padding-left: 45px;
    }

    &-time__text {
        font-weight: 500;
        font-size: 1.1rem;
    }

    &--sunrise-sunset {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    /* Dev card */
    
}

.other-card {
    &-dev{
        position: absolute;
        filter: opacity(5%);
        
        &--cloud {
            width: 55px;
            height: 55px;
            top: 0;
            left: 0;
            @media (max-width: 650px) {
                width: 95px;
                height: 95px;
            }
        }

        &--sun {
            width: 65px;
            height: 65px;
            bottom: 18px;
            right: 0;

            @media (max-width: 650px) {
                bottom: 5px;
                width: 95px;
                height: 95px;
            }
        }
    }

    &-dev__text {
        font-weight: 700;
    }

    &--dev {
        z-index: 20;
        position: relative;
    
        font-family: f.getFont('titles-font');
        color: f.getColor('dev-card__text');
        background-color: red;
    
        background: rgb(193,218,94);
        background: linear-gradient(0deg, rgba(193,218,94,1) 0%, rgba(223,242,151,1) 100%);
    }
}

