
@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.form {
    width: 420px;
    height: 100%;
    
    padding: 5px 30px 5px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: f.getColor('input-bg-color');
    border-radius: f.getProperty('border-radius');

    @media (min-width: 580px) and (max-width: 1050px) {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    @media (max-width: 1050px) {
        justify-self: center;
    }

    @media (max-width: 579px) {
        grid-row: 3/4;
    }                          

    @media (max-width: 500px) {
        width: 100%;
    }

    &-label {
        width: 100%;
        height: 100%;
    }

    &__btn {
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
    }

    &__input {
        width: 100%;
        height: 100%;
        padding: 8px 10px;
        font-size: 1rem;

        &:focus {
            outline: 1px solid #222;
            border-radius: 2px;
        }
    }
}