
@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.img {
    -webkit-user-drag: none;

    &--weather {
        position: absolute;
        top: 50%;
        right: 25px;
        width: 261px;
        transform: translateY(-50%);

        @media (max-width: 615px) {
            top: -127px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media (max-width: 455px) {
            width: 225px;
        }
    }

    &--location {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover
    }

    &--dev {
        position: absolute;
        top: 20px;
        right: -25px;
        width: 60px;

        @media (max-width: 620px) {
            right: 15px;
            width: 95px;
        }
    }
}