
@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.img {
    -webkit-user-drag: none;

    &--weather {
        position: absolute;
        top: 50%;
        right: 8px;
        width: 261px;
        transform: translateY(-50%);
    }

    &--location {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &--dev {
        position: absolute;
        top: 20px;
        right: -25px;
        width: 60px;
    }
}