@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.link {
    &-repo {
        transition: text-decoration 3s;
    }

    &--dev {
        z-index: 50;
        position: relative;
        color: inherit;
        
    }
}


.link-repo, 
.link-repo:visited {
    color: inherit;
}

.link-repo:hover {
    text-decoration: underline;
}