@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;


.title {
    display: block;
    
    &--principal {
        margin-bottom: 25px;
        color: f.getColor('text-color');
        font-family: f.getProperty('titles-font');
        font-weight: 500;
    }

    &--secondary {
        margin-bottom: 25px;
        color: f.getColor('text-color');

        font: {
            family: f.getProperty('main-font');
            weight: 400;
            size: 1rem;
        }

        filter: f.getProperty('opacity');
    }
}

.subtitle {
    margin-bottom: 12px;
    color: f.getColor('text-color');

    font: {
        family: f.getProperty('main-font');
        weight: 400;
        size: .85rem;
    }

    filter: f.getProperty('opacity');
}


.text {

    &--data {
        font-size: 3rem;
        color: f.getColor('text-color')
    }

    &--degrees{
        position: relative;
        width: max-content;
        font-size: 5.5rem;
    }

    &--w-info {
        font-weight: 300;
        font-size: 1.5rem;
    }

    &--time {
        font-weight: 100;
    }

    &-dev {
        color: f.getColor('dev-card__text');
        font-weight: 700;
        font-size: .95rem;
        font-family: f.getProperty('titles-font');
    }

    &-dev--follow {
        font-weight: 200;
    }

}

.degrees {
    position: absolute;
    top: 10px;
    right: -60px;

    font-size: 2.8rem;
}