
@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 84px 15px 84px;
    display: grid;
    place-items: center;
    
    &-container {
        width: 100%;
        max-width: 1350px;
        height: 65px;
        padding: 10px 12px;
        display: flex;
        justify-content: space-between;
    }

    font-family: f.getProperty('titles-font');
    background-color: f.getColor('header-bg-color');


    &__btns {
        display: flex;
        gap: 18px;
        width: max-content;
        font-family: f.getFont('titles-font');
    }

    &__greeting {
        display: flex;
        gap: 12px;
    }

    &::before {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        background-color: red;
    }


    &-text-principal {
        font-weight: 700;
    }

    &-text-secondary {
        width: max-content;
        font-weight: 400;
        font-size: 2rem;
    }

}

.name-container {
    width: max-content;
}

.greeting {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -50px;
        width: 40px;
        height: 40px;
        background: url('/src/assets/img/waving-hand-emoji.png');
        background-size: contain;
    }
}