* {
  box-sizing: border-box;
}

:root {
  --color-bg-color: #e8e9ea;
  --color-bg-card: #fff;
  --color-yellow-contrast: #ffde4a;
  --color-blue-contrast: #4050d2;
  --color-violet-contrast: #b5a2e4;
  --color-text-color: #222;
  --color-text-color-contrast: #fff;
  --color-input-bg-color: #fff;
  --color-header-bg-color: #e2e2e2;
  --color-dev-card__bg-color: #dff297;
  --color-dev-card__text: #303656;
  --color-gray: #444;
  --opacity: opacity(45%);
  --padding: 25px 20px;
  --border-radius: 25px;
  --main-font: 'Inter', sans-serif;
  --titles-font: 'Space Grotesk', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--main-font);
  color: var(--color-text-color);
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: disc;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

input {
  width: 100%;
  border: none;
  font-family: inherit;
}

input:foucs {
  outline: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

textarea {
  resize: none;
  border: none;
  width: 100%;
}

.title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.title--principal {
  margin-bottom: 25px;
  color: var(--color-text-color);
  font-family: var(--titles-font);
  font-weight: 500;
}

.text {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.text--degrees {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 5.5rem;
}
.text--w-info {
  font-weight: 300;
  font-size: 1.5rem;
}
.text--time {
  font-weight: 100;
}

.degrees-sup {
  position: absolute;
  top: 6px;
  right: -30px;
  font-size: 1.5rem;
}

.degrees--main {
  position: absolute;
  font-size: 3rem;
  top: 8px;
  right: -65px;
}

.subtext {
  position: absolute;
  bottom: 6px;
  right: -42px;
  font-size: 1.5rem;
}
.subtext--large {
  font-size: 1.3rem;
  bottom: 8px;
  right: -55px;
}

.btn {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-bg-card);
  transition: background-color 0.3s;
}

.btn-header {
  color: var(--color-text-color-contrast);
  font-size: 1rem;
  font-weight: 700;
  display: grid;
  place-items: center;
}
.btn-header--small {
  width: 46px;
  height: 100%;
  background-color: var(--color-bg-card);
  color: var(--color-text-color);
  font-family: var(--titles-font);
  transition: background 0.3s;
  will-change: background;
}
.btn-header--small:hover {
  background: #ececec;
}
.btn-header--large {
  width: 205px;
  color: var(--color-text-color);
  background-color: var(--color-violet-contrast);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
  transition: background 0.3s;
  will-change: background;
}
.btn-header--large:hover {
  background-color: #c5b6ea;
}

.th-card, .fc-card, .other-card {
  padding: 22px 25px;
  border-radius: 10px;
  background-color: var(--color-bg-card);
}

.card-flex {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.card-flex--small {
  gap: 2px;
}

.card-title {
  margin-bottom: 12px;
  color: var(--color-text-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 0.85rem;
  filter: var(--opacity);
}
.card-text {
  position: relative;
  font-size: 3rem;
  color: var(--color-text-color);
}
.card-text--large {
  font-size: 2.5rem;
}
@media (min-width: 1071px) and (max-width: 1180px) {
  .card-text--large {
    font-size: 2rem;
  }
}
.card-text--secondary {
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--color-gray);
}
@media (min-width: 1071px) and (max-width: 1180px) {
  .card-text--secondary {
    font-size: 1.9rem;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.cards-container--th {
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 15px;
}
.cards-container--tf {
  gap: 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (min-width: 1071px) and (max-width: 1180px) {
  .cards-container--tf {
    width: 130%;
  }
}
@media (max-width: 650px) {
  .cards-container--tf {
    flex-wrap: wrap;
    gap: 12px;
  }
}
.cards-container--others {
  height: inherit;
  gap: 14px;
}
@media (min-width: 1071px) and (max-width: 1180px) {
  .cards-container--others {
    gap: 8px;
  }
}
@media (max-width: 550px) {
  .cards-container--others {
    flex-direction: column;
  }
}

.th-card {
  height: 130px;
  padding-left: 15px;
  flex-grow: 1;
  flex-basis: 49.1%;
}
@media (min-width: 940px) and (max-width: 1070px) {
  .th-card {
    flex-basis: 24.5%;
    flex-grow: 1;
  }
}
@media (max-width: 536px) {
  .th-card {
    flex-basis: 100%;
    flex-grow: 1;
    align-self: center;
  }
}

.fc-card {
  width: 100%;
  height: 130px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1071px) and (max-width: 1180px) {
  .fc-card {
    width: 100px;
  }
}
@media (max-width: 650px) {
  .fc-card {
    position: relative;
    width: 100%;
    height: 125px;
    padding: 12px 45px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 110px;
    align-content: center;
  }
}
@media (min-width: 620px) and (max-width: 650px) {
  .fc-card {
    flex-basis: 48%;
  }
}
@media (max-width: 619px) {
  .fc-card {
    flex-basis: 100%;
  }
}
.fc-card__title {
  font-family: var(--titles-font);
  font-size: 0.8rem;
  filter: opacity(75%);
}
@media (max-width: 650px) {
  .fc-card__title {
    font-size: 1.8rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-bottom: 20px;
  }
}
.fc-card__temperature {
  display: flex;
  gap: 5px;
  font-size: 0.9rem;
}
@media (max-width: 650px) {
  .fc-card__temperature {
    font-size: 1.2rem;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 50px;
  }
}
.fc-card-max-temp {
  font-weight: 700;
}
.fc-card-min-temp {
  color: var(--color-gray);
}
.fc-card__img {
  width: 55px;
}
@media (max-width: 650px) {
  .fc-card__img {
    width: 110px;
    align-self: center;
  }
}

/* other cards section*/
.other-card {
  width: 100%;
  max-width: 33.3%;
  height: 100%;
  flex-grow: 1;
  flex-basis: 29%;
  display: grid;
  grid-template-rows: auto 1fr;
  /* Dev card */
}
@media (max-width: 620px) {
  .other-card {
    height: 165px;
    flex-basis: 100%;
    max-width: none;
    padding-left: 45px;
  }
}
.other-card-time__text {
  font-weight: 500;
  font-size: 1.1rem;
}
.other-card--sunrise-sunset {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.other-card-dev {
  position: absolute;
  filter: opacity(5%);
}
.other-card-dev--cloud {
  width: 55px;
  height: 55px;
  top: 0;
  left: 0;
}
@media (max-width: 650px) {
  .other-card-dev--cloud {
    width: 95px;
    height: 95px;
  }
}
.other-card-dev--sun {
  width: 65px;
  height: 65px;
  bottom: 18px;
  right: 0;
}
@media (max-width: 650px) {
  .other-card-dev--sun {
    bottom: 5px;
    width: 95px;
    height: 95px;
  }
}
.other-card-dev__text {
  font-weight: 700;
}
.other-card--dev {
  z-index: 20;
  position: relative;
  font-family: var(--titles-font);
  color: var(--color-dev-card__text);
  background-color: red;
  background: rgb(193, 218, 94);
  background: linear-gradient(0deg, rgb(193, 218, 94) 0%, rgb(223, 242, 151) 100%);
}

.form {
  width: 420px;
  height: 100%;
  padding: 5px 30px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--color-input-bg-color);
  border-radius: var(--border-radius);
}
@media (min-width: 580px) and (max-width: 1050px) {
  .form {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}
@media (max-width: 1050px) {
  .form {
    justify-self: center;
  }
}
@media (max-width: 579px) {
  .form {
    grid-row: 3/4;
  }
}
@media (max-width: 500px) {
  .form {
    width: 100%;
  }
}
.form-label {
  width: 100%;
  height: 100%;
}
.form__btn {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}
.form__input {
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  font-size: 1rem;
}
.form__input:focus {
  outline: 1px solid #222;
  border-radius: 2px;
}

.icon {
  -webkit-user-drag: none;
  transition: background-color 0.3s;
  width: 15px;
}
.icon--form {
  width: 35px;
  height: 32px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--color-bg-card);
}
.icon--form:hover {
  background-color: #eaeaea;
}

.icon-card {
  width: 35px;
}

.icon-time-box {
  width: 34px;
  height: 34px;
  padding: 5px;
  background-color: #FFD200;
  border-radius: 50%;
  box-shadow: inset 0px 0px 8px 0px rgb(255, 255, 0);
  display: grid;
  place-items: center;
}

.icon-time {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
.icon-time--sunset {
  transform: rotate(180deg);
}

.img {
  -webkit-user-drag: none;
}
.img--weather {
  position: absolute;
  top: 50%;
  right: 25px;
  width: 261px;
  transform: translateY(-50%);
}
@media (max-width: 615px) {
  .img--weather {
    top: -127px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 455px) {
  .img--weather {
    width: 225px;
  }
}
.img--location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img--dev {
  position: absolute;
  top: 20px;
  right: -25px;
  width: 60px;
}
@media (max-width: 620px) {
  .img--dev {
    right: 15px;
    width: 95px;
  }
}

.link-repo {
  transition: -webkit-text-decoration 3s;
  transition: text-decoration 3s;
  transition: text-decoration 3s, -webkit-text-decoration 3s;
}
.link--dev {
  z-index: 50;
  position: relative;
  color: inherit;
}

.link-repo,
.link-repo:visited {
  color: inherit;
}

.link-repo:hover {
  text-decoration: underline;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-bg-color);
  margin-bottom: 10px;
}
@media (max-width: 1070px) {
  .hr {
    display: none;
  }
}

.highlight-box {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 2px 5px;
  margin: 2px 0 20px 0;
  transition: color 0.3s;
}
.highlight-box::after {
  z-index: 10;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  filter: opacity(50%);
}
.highlight-box:hover {
  color: #555f97;
}

.section-layout {
  position: relative;
  flex-shrink: 1;
  border-radius: var(--border-radius);
}

.section-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
.section-container--search {
  justify-content: flex-end;
  padding: 25px 12px;
  background-color: var(--color-bg-card);
}
.section-container--today-highlight {
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-card);
}
.section-container--today-forecast {
  padding-left: 0;
  padding-right: 0;
  overflow-x: auto;
  width: inherit;
}

@media (min-width: 1070px) and (max-width: 1180px) {
  .section-container--today-forecast {
    padding-bottom: 10px;
  }
  .section-container--today-forecast::-webkit-scrollbar {
    height: 5px;
    padding-left: 95px;
    margin-left: 15px;
  }
  .section-container--today-forecast::-webkit-scrollbar-track {
    background-color: #cbcbcb;
    border-left: 55px solid #cbcbcb;
    border-right: 55px solid #cbcbcb;
    border-radius: 10px;
  }
  .section-container--today-forecast::-webkit-scrollbar-thumb {
    background-color: #838383;
    outline: 2px solid #838383;
    border-radius: 10px;
  }
  .section-container--today-forecast::-webkit-scrollbar-button {
    background-color: var(--color-bg-color);
  }
}

.spinner7 {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 46px;
}

.spinner7 div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 46px;
  height: 46px;
  border: 3px solid #1043A0;
  border-radius: 50%;
  animation: spinner7 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1043A0 transparent transparent transparent;
}

.spinner7 div:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner7 div:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner7 div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spinner7 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.empty-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: grid;
  place-items: center;
  gap: 25px;
}

.empty__img {
  width: 130px;
  height: 100%;
}
.empty__text {
  font-family: var(--titles-font);
  font-weight: 800;
  font-size: 2.1rem;
  color: var(--color-gray);
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 84px 15px 84px;
  display: grid;
  place-items: center;
  font-family: var(--titles-font);
  background-color: var(--color-header-bg-color);
}
@media (max-width: 1050px) {
  .header {
    padding: 40px 34px 15px 34px;
  }
}
.header-container {
  width: 100%;
  max-width: 1255px;
  height: 65px;
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 580px) and (max-width: 1050px) {
  .header-container {
    height: 116px;
    display: grid;
    grid-template-rows: 50px 41px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 15px;
  }
}
@media (max-width: 579px) {
  .header-container {
    height: 175px;
    display: grid;
    grid-template-rows: 50px 50px 41px;
    grid-template-columns: 1fr;
    align-items: center;
    row-gap: 12px;
  }
}
.header__btns {
  height: 45px;
  display: flex;
  gap: 18px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: var(--titles-font);
}
@media (min-width: 580px) and (max-width: 1050px) {
  .header__btns {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
  }
}
@media (max-width: 579px) {
  .header__btns {
    grid-row: 2/3;
    justify-self: center;
  }
}
.header::before {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: red;
}
.header-text-principal {
  font-weight: 700;
}
@media (min-width: 580px) and (max-width: 1050px) {
  .header-text-principal {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    justify-self: center;
  }
}
.header-text-secondary {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 400;
  font-size: 2rem;
}

.name-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px 55px 25px 55px;
  background-color: var(--color-bg-color);
  display: grid;
  justify-items: center;
}
@media (min-width: 1051px) {
  .main {
    min-height: calc(100vh - 120px);
  }
}
@media (min-width: 580px) and (max-width: 1050px) {
  .main {
    min-height: calc(100vh - 171px);
  }
}
@media (max-width: 579px) {
  .main {
    min-height: calc(100vh - 230px);
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .main {
    padding: 0px 12px 20px 12px;
  }
}
@media (max-width: 599px) {
  .main {
    padding: 0px 8px 15px 8px;
  }
}

.principal {
  position: relative;
  width: 95%;
  height: 100%;
  max-width: 1255px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
@media (min-width: 1071px) {
  .principal {
    max-height: 755px;
  }
}
@media (max-width: 1070px) {
  .principal {
    align-items: flex-start;
    gap: 15px;
  }
}
@media (min-width: 940px) and (max-width: 1070px) {
  .principal {
    max-height: 1200px;
  }
}
@media (max-width: 615px) {
  .principal--not-empty {
    padding-top: 180px;
  }
}

.main-centered {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.secondary-container {
  width: 100%;
  flex-basis: 57%;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 1071px) and (max-width: 1180px) {
  .secondary-container {
    max-width: 57.3%;
  }
}

.extra {
  width: 100%;
  height: 155px;
}
@media (max-width: 620px) {
  .extra {
    height: 100%;
  }
}

.search {
  width: 100%;
  height: 280px;
  padding: 5px 25px;
  background-color: var(--color-bg-card);
  flex-basis: 38%;
  flex-grow: 1;
}
@media (max-width: 1070px) {
  .search {
    height: 200px;
    flex-basis: 100%;
  }
}
.search-location {
  position: relative;
  width: 100%;
  height: 145px;
  overflow: hidden;
  border-radius: 15px;
}
@media (max-width: 1070px) {
  .search-location {
    height: 180px;
  }
}
.search-location__shadow {
  z-index: 15;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: opacity(45%);
}
.search-location__text {
  z-index: 50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: var(--color-text-color-contrast);
}

.search-date {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 1070px) {
  .search-date {
    display: none;
  }
}
.search-date-container {
  display: flex;
  gap: 10px;
}
.search-date__main-text {
  font-weight: 700;
}
.search-date__secondary-text {
  font-weight: 300;
  color: var(--color-gray);
}

.today-forecast {
  width: 100%;
  padding-top: 20px;
}

.today-highlight {
  width: 100%;
  flex-basis: 39.9%;
  max-width: 450px;
  padding-top: 20px;
  flex-shrink: 1;
  color: var(--color-text-color-contrast);
}
@media (max-width: 1070px) {
  .today-highlight {
    max-width: none;
    flex-basis: 100%;
  }
}

.weather {
  z-index: 10;
  width: 100%;
  flex-basis: 59%;
  height: 280px;
  padding: var(--padding);
  color: var(--color-text-color-contrast);
  border-radius: var(--border-radius);
  background: rgb(57, 200, 245);
  background: linear-gradient(45deg, rgb(57, 200, 245) 0%, rgb(47, 144, 243) 47%);
}
.weather__properties {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 615px) {
  .weather__properties {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1070px) {
  .weather {
    flex-basis: 100%;
  }
}
@media (max-width: 615px) {
  .weather {
    height: 300px;
  }
}

/* base */
/* components */
/* layout */
