
@use "../../utils/variables" as v;
@use "../../utils/functions" as f;
@use "../../utils/mixins" as m;


.weather {
    width: 60%;
    max-width: 754.38px;
    height: 280px;
    flex-shrink: 1;

    padding: f.getProperty('padding');
    background: rgb(57,200,245);
    background: linear-gradient(45deg, rgba(57,200,245,1) 0%, rgba(47,144,243,1) 47%);
    color: f.getColor('text-color-contrast');
}